@import url('/fonts/rac/main.css');
@import url('/fonts/vesper/main.css');
@import url('/fonts/sbl-hebrew/main.css');

body {
	font-family: "Rac", "Alef", sans-serif;
	font-size: 1.4rem;
}

table {
	margin-top: 5ex;
}

th {
	font-size: larger;
	padding-bottom: 1ex;
}

abbr {
	border-bottom: none;
	cursor: inherit;
	text-decoration: none;
}

:target {
	background-color: #ECF3F9;
	/* -webkit-transition: all 1s linear; */
}

.bilingual_text {
	border-collapse: separate;
	border-spacing: 3em 0em;
	text-align: justify;
}

.bilingual_text td {
	padding-bottom: 1em;
}

a {
	color: inherit;
}

a:link, a.after:link {
	text-decoration: none !important;
	background: none;
	text-shadow: none;
}

a:after {
    position: relative;
    content: "\FEFF\200F°";◊;redefine for LTR text
    margin-left: 0.10em;
    font-size: 90%;
    top: -0.10em;
    color: #933;
	font-family: "Vesper";
}

a:hover {
	background-color: #BBCCEE;
	/*background-color: #ECBFFF;*/
}

.leftside {
	vertical-align: top;
}

.leftside a {
	color: inherit;
	text-decoration: inherit;
}

.leftside a:after {
	content: "";
}


a.play_button:hover {
	background-color: inherit;
	color: #A260BF;
	cursor: pointer;
}

.rightside {
	vertical-align: top;
}

@media (max-width: 1000px) {
	body {
		font-size: 2.0rem;
	}
	.rightside {
		display: none;
	}
}

.headword {
	font-weight: bold;
}

.subheadword {
	font-weight: bold;
	color: dimgrey;
}

.stem {
	font-size: 1.0rem;
}

.ipa {
	color: grey;
	font-size: 1.0rem;
}

.grammar {
	color: grey;
	font-size: 1.0rem;
	margin-right: 0.25em;
}

.gloss {
	direction: rtl;
	display: inline-block;
}

.note {
	direction: rtl;
	font-size: 1.0rem;
	display: inline-block;
}

.sublemmas {
	text-indent: 1em;
}


.hebrew {
	direction: rtl;
	font-family: SBLHeb;
}

.welsh, .english, .french {
	direction: ltr;
	font-family: Vesper;
}

.common_image {
	max-width: 50%;
	max-height: 30em;
}


span.encircle {
  border-radius: 0.8em;
  border: 1px gray solid;
  color: black;
  display: inline-block;
  line-height: 1.6em;
  text-align: center;
  width: 1.6em; 
  font-size: 0.8rem;
}

ul {
	list-style: circle;
}
